body {
  font-family: monospace;
}
#kanbanboard {
 position: absolute;
}
.checkList-task-remove::after {
  display: inline-block;
  font-weight: bold;
  margin-left: 10px;
  content: ' X ';
}
.card {
  position: relative;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}
.card section {
  padding: 10px;
}
.card p {
  padding: 5px;
}

.card p, .card h3 {
  text-align: center;
  width: 80%;
  margin: 15px auto;
}

.glyphicon-plus-sign {
  font-size: 3em;
  color: darkorange;
}

fieldset {
  margin-left: 5px;
}

.form-check-input {
  margin-right: 10px!important;
}

.list {
  background: linear-gradient(to bottom, #eee 0%, #ccc 50%, #eee 100%) fixed;
}
